{% extends "base.njk" %}

{% block content %}
    <section class="site-about-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-about-wrapper">
              <div class="site-about-description">
                <p>
                  {{des}}
                </p>
              </div>
              <div class="site-about-company">
                {{content | safe}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-team">
      <div class="container">
        {# <div class="row"> #}
          <div class="col-12">
          </div>
          {% for teamMember in team.teamMembers %}
          <div class="col-lg-12 col-md-8">
            <div class="site-team-member">
              <div class="site-team-member-content">
                <h3>{{teamMember.name}}</h3>
                <p>{{teamMember.dig}}</p>
              </div>
            </div>
          </div> 
          {% endfor %}
        {# </div> #}
      </div>
    </section>
{% endblock %}
