{% extends "base.njk" %}

{% block content %}

    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
             {#<h6>{{hero.subTitle}}</h6>#}
              <h1 class="title">
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              
            </div>
          </div>
        </div>
      </div>
      <a href="#intro" class="site-hero-scroll scroll-to">
        <img src="/assets/images/arrow-down.svg" alt="arrow-down">
      </a>
    </section>
    
    <section class="site-blog details" id="intro">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <article class="site-blog-details">
              <h2 class="blog-title">{{title}}</h2>
              {{content | safe}}
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="site-project" id="project">
      <div class="container">
        <div class="row">
          {% for portfolio in collections.texts %}
          <div class="col-lg-6 col-md-10 mx-auto">
            <div class="site-project-item">
              <div class="site-project-item-thumb">
                <img src="{{portfolio.data.img}}" alt="project-thumb">
              </div>
              <div class="site-project-item-content">
                <span>{{portfolio.data.subTitle}}</span>
                <h3>{{portfolio.data.title}}</h3>
                <a href="{{portfolio.data.page.url}}" class="read-more">{{portfolio.data.linkText}}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
  
{% endblock %}
