{% extends "base.njk" %}

{% block content %}
    <section class="site-project-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="site-project-header-content">
              <h1>
                {{ content | safe}}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
