{% extends "base.njk" %}

{% block content %}

    <section class="site-project-single-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="site-project-single">
              <h1>
                {{title}}
              </h1>
              <div class="site-project-single-description">
                {{content | safe}}
              </div>
              
              {% if collections.portfolios %}
              {% set nextPost = collections.portfolios | getNextCollectionItem(page) %}
              {% set previousPost = collections.portfolios | getPreviousCollectionItem(page) %}
              
              <div class="site-project-single-action d-flex justify-content-between">
                {% if previousPost%}
                <a href="{{previousPost.url}}">
                  <img class="rev" src="/assets/images/to-top.svg" alt="next project">
                  <span class="link-area">
                    <span data-text="{{previousPost.data.title}}">
                      Previous Project
                    </span>
                  </span>
                </a>
                {% endif %}
                {% if nextPost %}
                <a href="{{nextPost.url}}">
                  <span class="link-area">
                    <span data-text="{{nextPost.data.title}}">
                      Next Project
                    </span>
                  </span>
                  <img src="/assets/images/to-top.svg" alt="next project">
                </a> 
                {% endif %} 
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
